/*This is a comment*/

h1{
    color: brown;
    font-size: 100px;
    z-index: 2;

    display: inline-block;

    font-family: 'Palatino', serif;
}

#second-header{
    color: green;
    z-index: 2;
}

p{
    font-size: 12px;
    width: 15%;
    font-family: 'avenir', sans-serif;

}

#hero-wrapper{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 10%;
    position: relative;
    z-index: 2;
}

#hero-beans{
    background-image: url("img/beans.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;

    width: 50%;
    height: 750px;
}