/*This is a comment*/

body{
    padding: 0px;
    margin: 0px;
}

h1{
    color: #451F11;
    font-size: 100px;
    z-index: 2;
    margin-left: 20px;
    margin-bottom: 0px;

    display: inline-block;

    font-family: 'Palatino', serif;
}

#second-header{
    color: white;
    z-index: 2;
}

p{
    font-size: 12px;
    width: 15vw;
    margin-left: 75px;
    font-family: 'avenir', sans-serif;

}

#hero-wrapper{
    width: 700px;
    text-align: center;
    position: relative;
    z-index: 2;
}

#hero-beans{
    background-image: url("img/beans.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;

    width: 50vw;
    height: 750px;
}

#hero-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar{
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    top: 0px;
    width: 100vw;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    
    flex-direction: row;

    
}

h3{
    font-family: 'Palatino', serif;
    font-size: 22px;
    color: white;
    margin-right: 50px;
}

#nav-text{
    top: 0px;
    display: flex;
    width: 50%;
}

#nav-image{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 20px;
    top: 10px;
    width: 50%;
}

#icon{
    height: 22px;
    width: 22px;
    margin-right: 50px;
}