/*This is a comment*/

html{
    scroll-behavior: smooth;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #f7f7f7;

    font-size: 100%;
}

#scroll{
    position: fixed;
    background-image: url(img/jumptotop.svg);
    background-size: cover;
    bottom: 50px;
    left: 50px;
    z-index: 1;
    margin: 0;
    padding: 0;

    width: 75px;
    height: 75px;

    transition: 0.2s;
}

#scroll:hover{
    transform: scale(1.1);
}

h1{
    color: #451F11;
    font-size: 6em;
    z-index: 2;
    margin-left: 20px;
    margin-bottom: 0px;

    display: inline-block;

    font-family: 'Palatino', serif;
}

#second-header{
    color: white;
    z-index: 2;
}

p{
    font-size: 1em;
    width: 40%;
    margin-left: 40px;
    font-family: 'Avenir', sans-serif;
    text-align: right;
    color: #451F11;
}

#hero-wrapper{
    width: 700px;
    text-align: center;
    position: relative;
    z-index: 2;
}

#hero-beans{
    background-image: url("img/beans.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;

    margin: 0;
    padding: 0;

    width: 50vw;
    height: 100vh;
}

#hero-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#nav-bar{
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    top: 0px;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    
    flex-direction: row;

    
}

h3{
    font-family: 'Palatino', serif;
    font-size: 1.5em;
    color: white;
    margin-right: 50px;
}

#nav-text{
    top: 0px;
    display: flex;
    width: 50%;
}

#nav-image{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 20px;
    top: 10px;
    width: 50%;
    padding-left: 25px;
}

#icon{
    height: 25px;
    width: 25px;
    margin-right: 50px;
    padding-left: 25px;
}

.standard-margin-section{
    padding-top: 200px;
    max-width: 960px;
    margin: auto;
}

#section-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.column-coffee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 249px;
    background-color: white;
}

.coffee-cup{
    height: auto;
    width: 100%;
}

#middle{
    margin-left: 20px;
    margin-right: 20px;
}

h4{
    font-size: 22px;
    color: #451F11;
}

#section-three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    grid-template-rows: minmax(350px, auto);
}

#grid-esp{
    grid-column: 1/2;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;

    padding-left: 40px;
    padding-right: 40px;

    color: #451F11;

    background-color: white;
}

#grid-esp-pic{
    grid-column: 2/4;
    grid-row: 1/2;

    background-image: url(img/esspre.jpg);
    background-size: cover;

    width: auto;
    height: 100%;
}

#grid-cap-pic{
    grid-column: 1/3;
    grid-row: 2/3;

    background-image: url(img/cap.jpg);
    background-size: cover;
    height: 100%;
    width: auto;
}

#grid-cap{
    grid-column: 3/4;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;

    padding-left: 40px;
    padding-right: 40px;

    color: #451F11;

    background-color: white;
}

h5{
    font-size: 14px;
    font-family: 'Avenir', sans-serif;
    color: #451F11;
}

.left{
    text-align: left;
}

.contact-section{
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
}

.lets-talk-image{
    background-image: url(img/esp_.jpg);
    background-size: cover;
    background-position: center;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-input{
    width: 49%;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
}

input, textarea{
    margin-left: 50px;
    margin-top: 30px;
    height: 40px;
    background-color: #f7f7f7;
    border: none;
    color: #451F11;
}

.text-width{
    width: 70%;
}

.lets-talk{
    color: white;
    font-size: 35px;
    margin: 0px;
    padding: 0px;
}

.footer{
    margin-top: 200px;
    padding-top: 0px;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 50px;
    padding-left: 50px;
}

.move-down{
    display: flex;
}

.foot-coffee{
    font-size: 50px;
    color: #451F11;
}

.footer-link{
    color: #451F11;
}

.copyright-wrapper{
    background-color: #f7f7f7;
}

.copyright-text{
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 0px;
    padding-top: 5px;
    color: #451F11;
}

#footer-wrapper{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.submit{
    transition: transform 1s;
    background-color: #451F11;
    border: none;
    color: #f7f7f7;
    width: 15%;
}

.submit:hover{
    transform: scale(1.1);
}

.ilove{
    animation-name: ilove;
    animation-duration: 0.4s;
    animation-fill-mode: forward;
    animation-timing-function: ease-in;
}

.coffee{
    animation-name: coffee;
    animation-duration: 0.4s;
    animation-fill-mode: forward;
    animation-timing-function: ease-in;
}

#drop-box, #drop-link{
    display: none;
}

#drop-down:hover #drop-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@keyframes ilove{
    0%{
        transform: translateY(-50px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes coffee{
    0%{
        transform: translateY(50px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

@media screen and (max-width: 650px){
    #hero-beans{
        top: auto;
        bottom: 0;
        width: 100vw;
        height: 65vh;
    }

    #hero-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p{
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #hero-wrapper{
        padding-bottom: 20vh;
    }

    #middle{
        flex-direction: column-reverse;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #section-three{
        grid-template-columns: 1fr;
    }

    #grid-esp-pic{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #grid-esp{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    #grid-cap-pic{
        grid-column: 1/2;
        grid-row: 3/4;
        min-height: 300px;
    }
    
    #grid-cap{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .contact-section{
        flex-direction: column;
        align-items: flex-end;
    }

    .lets-talk-image{
        background-image: none;
    }

    .lets-talk{
        color: #451F11;
        text-align: right;
        width: 70%;
    }

    .info-input{
        width: 100%;
    }

    .flex-space-between{
        flex-direction: column;
        align-items: center;
    }

    .footer-link{
        margin-left: 35px;
        margin-right: 35px;
    }

    .copyright-text{
        padding: 0;
    }

    #nav-image, #nav-text{
        display: none;
    }

    #nav-bar{
        flex-direction: column;
        align-items: flex-end;
    }

    #drop-box{
        display: block;
        background-image: url("img/drop_down.svg");
        height: 50px;
        width: 50px;
        margin: 10px;
        background-size: cover;
    }

    #drop-link{
        background-color: white;
    }

    #drop-down{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-width: 50px;
    }

    .drop-text{
        padding: 10px;
        color: #451F11;
        font-size: 25px;
        text-decoration: none;
        font-family: Avenir;
        font-weight: bold;
    }

    .drop-text:hover{
        background-color: #f7f7f7;;
    }
}